a:hover, a:visited, a:link, a:active{
    cursor:pointer;
    text-decoration: none;
    color: rgb(41, 115, 136);
    line-height: 40px;
    letter-spacing: 0.7px;
    padding: 20px ;
    font-family: 'Marcellus', serif;
}

.headings{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 80px;
    text-transform:uppercase;
    color: rgb(46, 46, 46);
}

.listitem{
    padding-bottom: 20px ;
    margin: 30px;

}
